@import url(./custom.css);

body {
    background-color: var(--white-100);
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    column-gap: 20px;
}

/* Coding Left Side */
.left-side {
    padding: 20px 0px 20px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.profile-box {
    direction: rtl;
    background-color: var(--white-50);
    padding: 15px 20px;
    border-radius: 25px;
    column-gap: 20px;
}

.profile-wrapper {
    position: relative;
    width: 65px;
    height: 65px;
    padding: 6px;
    background-color: var(--gold-400);
    border-radius: 100%;
}

.user-profile {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.profile-box-desc {
    row-gap: 5px;
}

.user-name,
.user-number {
    color: var(--gray-650);
}

.sim-card-charge-box {
    background-color: var(--gold-50);
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    height: 100%;
}

.sim-card-charge-title {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
}

.charge-progress {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    display: flex;
    background-color: var(--gold-50);
    margin: 25px 0;
}

.progress-10 {
    background-image: -webkit-linear-gradient(360deg, #e4ebec 50%, transparent 50%), -webkit-linear-gradient(right, var(--gold-400) 50%, #e4ebec 50%);
}

.charge-progress .overlay {
    border-radius: 100%;
    width: 85%;
    height: 85%;
    margin: auto;
    background-color: var(--gold-50);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00a3ff;
}

.charge-btn {
    background-color: var(--gold-400);
    width: 150px;
    border-radius: 5px;
    color: var(--white-50);
    font-size: 1rem;
    box-shadow: 0 0 8px var(--gold-400);
    border: 0;
    outline: 0;
    cursor: pointer;
}